/*  your css code here. If applicable */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

table td {
  padding: 8px;
  text-align: center;
  border: 5px solid #ddd;
}

table th {
  padding: 8px;
  text-align: center;
  border: 5px solid #ddd;
  background-color: #f2f2f2;
}
